.css-greeting .name__input {
    appearance: none;
    background: none;
    border: none; /* 테두리 */
    color: black; /* 내가 안에 적는 글자색 */
    font-size: 36px;
    border-bottom: 3px solid #000000;
}
.css-greeting .name__input::placeholder{
    text-align: center;
    color: black;
    opacity: 0.7; /*투명도 지정 */
}

.css-greeting .name__text{
    font-size: 45px;
}

.css__btn{
    margin-top: 10px;
    font-size: 20px;
    width: auto;
    height: 40px; 
    line-height: 40px; /* 가운데 수직 정렬하기 위해 위에 height와 동일한 값 적용 */
    vertical-align: middle;
    text-align: center;
    background: #d8d5d5;
    outline: none;
    border: none;
    cursor: pointer;
    transform: scale(1,1); /*transfrom과 transition 잘사용하기 */ 
    transition: transform 300ms ease-in-out;
}
.css__btn:hover{
    transform: scale(1.1,1.1);
}